      <section id="status_side_contacts">
        <div id="not_search">
          Viewing All Contacts
        </div>
        <div id="search">

        </div>
      </section>
      <section id="contacts">
        <div id="search_div">
          <form action="/contacts" method="get">
            <input type="text" name="search" placeholder="Enter Search Term..."><input type="submit" value="Search" id="search_submit">
          </form>
        </div>
        <ul class="contacts_list">
          <% @results.each do |c| %>
          <li>
            <div class="c_id_div"><a href="/contacts/<%= c.id %>/edit" class="c_id_link"><%= c.id %></a></div>
            <h3 class="c_name"><a href="/contacts/<%= c.id %>/edit"><%= c.name %></a></h3>
            <p class="c_email"><%= c.email %></p>
            <ol id="notes_list">
              <li><%= c.notes[0] %></li>
            </ol>
            <p class="c_dates">
              <strong>Date Created:</strong> <%= c.created %><br>
              <strong>Date Modified:</strong> <%= c.modified %>
          </li>
          <% end %>

          <li id="add_contact_list_item" style="border:0px;"><a href="/add">+</a></li>

        </ul>
      </section>
