<section id="view_contact_section">
  <form action="/contacts/savechanges" method="post">
    <div id="contact_name_div">
      <input type="text" name="first_name" value="<%= @contact.name %>" id="contact_name" required>
    </div>
    <div id="contact_email_div">
      <input type="email" name="email" value="<%= @contact.email %>" id="contact_email" required>
    </div>

    <div id="notes_holder">
      <div id="notes_title">
        Notes
      </div>
      <% 
        5.times do |iteration|
      %>
        <input type="text" value="<%= @contact.notes[iteration] %>" name="notes<%= iteration+1 %>" class="note" placeholder="Enter new note">
      <% end %>
    </div>

    <!-- REPLACE THIS WITH THE 4-button thing: SAVE, VIEW (all contacts), CLEAR notes, KILL contact-->
    <div id="submit_holder">
      <input type="hidden" name="id" value="<%= @contact.id %>">
      <input type="submit" value="Save Changes" id="contact_submit">
    </div>
    <div id="cancel_edit">
      - <a href="/contacts">Return to Contact List</a> -
    </div>
  </form>
</section>
